body {

    background-color: #E9ECEF;
    
}

h1 {

    text-align: center;
    color: blueviolet;
}

 h4 {

    color:  chocolate ; 
}

img {

    width: 200px;
    height: 200px;
    
}

b {
    background-color: salmon;
    border-radius: 5px;
    color: white;
    padding: 5px;
}





